{% extends "base.html" %}
{% block main %}
{% if not logged_in %}
<form class="form-signin" action="/login" method="POST">
  <input name="redirect_url" value="{{ redirect_url }}" type="hidden"/>
  <h3 class="form-signin-heading">Sign in here</h3>
  {% if message %}
  <span class="label label-danger" style="padding: 2px;">{{ message }}</span><br/>
  <h3 class="form-signin-heading"></h3>
  {% endif %}
  <input {% if email %}value="{{ email }}" {% endif %}type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  <h4 class="form-signin-heading">or sign up <a href="/signup">here</a></h4>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% else %}
<form action="/update_app" method="POST">
  {% if apps %}
  <h3>Your applications</h3>
  <table class="table">
      {% for app in apps %}
    <tr>
      <td><a href="/update_app/{{ app.client_id }}" target='_blank' >{{ app.name }}</a></td>
    </tr>
      {% endfor %}
  </table>
  {% else %}
  <h3>You haven't registerred any applications yet.</h3>
  {% endif %}
  <a href='/create_app' target='_blank' class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register new app
  </a>
</form>
{% endif %}
{% endblock %}
