{% extends "base.html" %}
{% block main %}
{% if not logged_in %}
<form id="signup" class="form-signin form-signup" action="/signup" method="POST">
  <h3 class="form-signin-heading">Sign up here</h3>
  {% if message %}
  <span class="label label-danger" style="padding: 2px;">{{ message }}</span><br/>
  <h3 class="form-signin-heading"></h3>
  {% endif %}
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
{% else %}
{% endif %}
{% endblock %}
