{% extends "base.html" %}
{% block main %}
<div class="jumbotron">
  <div class="container">
    <h3><b>{{ appname }}</b> wants your authorization for following accesses:</h3>
    <ul class="list-group">
      {% for access in accesses %}
      <li style="font-size: 18px;" class="list-group-item {% if access.is_write %} list-group-item-warning {% else %} list-group-item-success {% endif %}">
        {{ access.desc }}
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <input type="hidden" value="{{ auth_code }}" name="auth_code"/>
      <button class="btn btn-primary btn-success" value="yes" name="authorize">Yes, I authorize</button>
      <button class="btn btn-primary btn-danger" value="no" name="authorize">No, I decline</button>
    </form>
  </div>
</div>
{% endblock %}
