{% extends "base.html" %}
{% block main %}
{% if not logged_in %}
<form class="form-signin" action="/login" method="POST">
  <input name="redirect_url" value="{{ redirect_url }}" type="hidden"/>
  <h3 class="form-signin-heading">Sign in here</h3>
  {% if message %}
  <span class="label label-danger" style="padding: 2px;">{{ message }}</span><br/>
  <h3 class="form-signin-heading"></h3>
  {% endif %}
  <label for="inputEmail" class="sr-only">Email address</label>
  <input {% if email %}value="{{email}}" {% endif %}type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  <h4 class="form-signin-heading">or sign up <a href="/signup">here</a></h4>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% else %}
<form action="/update_app" method="POST">
  <table class="table">
    <tr>
      <th scope="row">App id</th>
      <td>{{ app_id }}</td>
    </tr>
    <tr>
      <th scope="row">App name</th>
      <td><input name="appname" value="{{ app_name }}" class="form-control"></input></td>
    </tr>
    <tr>
      <th scope="row">Redirect url</th>
      <td><input name="redirect_url" value="{{ app_redirect_url }}" class="form-control"></input></td>
    </tr>
  </table>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endif %}
{% endblock %}
